<form method="post" action="/books/new">
  <label>Title</label>
  <input type="text" placeholder="Enter book..." name="title" />
  <label>Author</label>
  <input type="text" placeholder="Enter author..." name="author" />
  <button type="submit">Save</button>
</form>